RewriteEngine On

RewriteCond %{HTTP_HOST} ^fear.io
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule (.*) https://www.fear.io/$1 [R=301,L]

RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.fear.io/$1 [R,L]

Redirect /p2e https://play.fear.io/clucking-hell/index.html
Redirect /play-wyun/ https://play.fearnft.games/wyun/index.html
Redirect /play-wyun/index.html https://play.fearnft.games/wyun/index.html
Redirect 301 /wyun/ https://www.fear.io/games/wyun/
Redirect 301 /whack-the-demon/ https://www.fear.io/games/whack-the-demon/
Redirect 301 /games.html https://www.fear.io/games/
Redirect 301 /farm/upcoming.html https://www.fear.io/farm/nfts/

Redirect /?utm_source=PlayToEarn.net https://www.fear.io/
Redirect /opensea https://opensea.io/collection/unidentified-contract-tyjqonyi6h
Redirect /wiki https://www.fear.io/updates/fear-wiki/
Redirect /twitter https://twitter.com/fearnfts
Redirect /telegram https://t.me/fearcoin
Redirect /discord https://discord.gg/JS9zg7Ykh4
Redirect /clucking-hell https://play.fear.io/clucking-hell/index.html
Redirect /hell https://play.fear.io/clucking-hell/index.html
Redirect /staking https://tokensfarm.com/fear/staking/2
Redirect /cluckoracle https://www.fear.io/games/clucking-hell/oracle
Redirect /clucktest https://www.fear.io/games/clucking-hell/oracle/index-test.html
Redirect /jobs https://www.fear.io/updates/jobs/

Redirect /farm https://app.nftrade.com/farms/fear

Redirect 301 /devilschest/ https://www.fear.io/games/wyun/devilschest/
Redirect 301 /games/wyun/devilschest/ https://www.fear.io/games/clucking-hell/devils-chest/

Redirect 301 /farm/nfts/wyun.html https://www.fear.io/farm/nfts/clucking-hell.html
Redirect /whitepaper https://www.fear.io/docs/fear-nfts-whitepaper.pdf
Redirect /araya https://www.fear.io/games/araya/
Redirect 301 /coin.html https://www.fear.io/token.html

# php -- BEGIN cPanel-generated handler, do not edit
# Set the "ea-php74" package as the default "PHP" programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php74 .php .php7 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin: *
</IfModule>